@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  height: 100vh;
  background-color: #000000;
  color: #F6F6F6;
  text-align: justify;
}

header {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.destaque-titulo {
  color: #22D4FD;
}

.apresentacao {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10% 15%;
}

.apresentacao__conteudo{
  display: flex;
  flex-direction: column;
  width: 515px;
  gap: 20px;
}

.apresentacao__conteudo__titulo {
  font-size: 26px;
  font-family: "Krona One", sans-serif;
}

.explicativo {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
}

.apresentacao__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.apresentacao__links_subtitulo {
  font-family: 'Krona One', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.apresentacao__links__link {
  border: 2px solid #22D4FD;
  width: 220px;
  text-align: center;
  border-radius: 6px;
  font-size: 14px;
  padding: 11.5px 0;
  text-decoration: none;
  color: #F6F6F6;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.imagem {
  width: 400px;
}


