* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    height: 100vh;
    background-color: #9C9990;
    color: #41463D;
}

.destaque-titulo {
    color:#6184d8;
}

.apresentacao {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.textos {
    width: 60vh;
}