body {
    background-color: black;
    color: white;
}

.negrito {
    color: #22D4FD;
}

.ancoras {
    display: flex;
}

.textos {
    display: flex;
    justify-content:center ;
    align-items: center;
    flex-direction: column;
}

.explicativo {
   background-color: red;
   width: 400px;
}

.insta, .git {
    background-color: #22D4FD;
    text-decoration: none;
    color: black;
    width: 100px;
    height: 35px;
    display: flex;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}





