@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  height: 100vh;
  background-color: #9c9990;
  color: #41463d;
}

header {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.destaque-titulo {
  color: #6184d8;
}

.apresentacao {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10%;
}

.apresentacao__conteudo{
  width: 615px;
}

.apresentacao__conteudo__titulo {
  font-size: 36px;
  font-family: "Krona One", sans-serif;
}

.explicativo {
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
}


